*{
    font-family:monospace
}
h1{
color: aqua;
}
p{
    color: darkslateblue;
    font-family: sans-serif;
    font-size: 20px;
}
p{
    color:black;
}
p:hover{
    color: blue;
}
body{
    background-color: darkgray;
}
p:hover{
    background-color: aliceblue;
}
